<div data-ng-controller="MainCtrl" data-ng-init="init()"></div>

<header>
    <button class="left" hm-tap="power_switch()" ng-class="{'active': power.status}">
        <div class="label"><i class="icon-off"></i></div>
    </button>
    <h1>{{modelname.status}} blah</h1>
    <button class="right" hm-tap="blank_switch()" ng-class="{'active': blank.status}">
        <div class="label"><i class="icon-moon"></i></div>
    </button>
</header>

<main id="toucharea" hm-tap="menu('enter')"
                     hm-swipeup="menu('up')"
                     hm-swipedown="menu('down')"
                     hm-swipeleft="menu('left')"
                     hm-swiperight="menu('right')"
                     hm-options="{drag: false, transform: false}"
                     ng-hide="stereomenu">
</main>

<main id="stereo" ng-show="stereomenu">
<h1>{{stereo.status}}</h1>
<ul>
    <li><button hm-tap="stereo_change('sbs')">
        <div class="label">Side By Side</div>
    </li>
    <li><button hm-tap="stereo_change('tb')">
        <div class="label">Top-Bottom</div>
    </li>
    <li><button hm-tap="stereo_change('fs')">
        <div class="label">Frame Packed</div>
    </li>
</ul>
</main>

<footer>
    <button class="left" hm-tap="menu('off')">
        <div class="label"><i class="icon-chevron-left"></i></div>
    </button>
    <button class="center" ng-model="stereomenu">
        <div class="label">3D</div>
    </button>
    <button class="right" hm-tap="menu('on')">
        <div class="label"><i class="icon-list-alt"></i></div>
    </button>
</footer>
